.body {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card {
    margin-left: 10px;
    align-self: center;
    text-align: center;
    align-items: center;
}

.button-style {
    margin-bottom: 20px;
}

#butonRestart {
    margin-top: 10px;
    margin-left: 75px;
    padding-left: 50px;
    padding-right: 50px;
}